<h1>Create your team</h1>

<div class="col-md-4" id="create-team-form">
  <h2>Details</h2>
  {{partial "fantastic-teams/form"}}
</div>
</div>

<div class="col.md-8" id="create-team-leagues-panel">
  {{leagues-panel leagues=model}}
</div>
