<h1>Create your team</h1>

  <div class="col-md-4" id="create-team-form">
    {{partial "fantastic-teams/form"}}
  </div>

<div class="col-md-4" id="create-team-leagues-panel">
  {{partial "leagues/leagues-panel"}}
</div>
