<div class="container">
  {{navbar-user user=model}}
   
   <div class="col-lg-12">  
     <div class="thumbnail" id="nameTeam">
       <h3>{{model.name}}</h3>
     </div>
  </div>

  <div class="row">
    {{#each contract in model.contracts}}
      {{partial "contracts/panel"}}
    {{/each}}
  </div>