<div class="container">
  {{navbar-user user=model}}
   <h1> {{model.team.name}} </h1>


  <div class="row">
    {{#each contract in model.team.contracts}}
      {{partial "contracts/panel"}}
    {{/each}}
  </div>