<div class="container">
  {{navbar-user user=model}}
   <h1> {{model.team.name}} </h1>

   <table class="table">
     <thead>
       <tr>
         <th>Name</th>
         <th>Position</th>
         <th>Final score</th>
         <th>Current position</th>
      </tr>
      {{#each contract in model.team.contracts}}
        {{contracts/contract-row contract=contract save= "save" }}
      {{/each}}
    </table>


</div>