<table class="table table-stripped">
  <thead>
    <tr>
      <th {{action 'sortBy' 'name'}}>NAME</th>
      <th {{action 'sortBy' 'number_of_teams'}}>TEAMS</th>
    </tr>
  </thead>
  <tbody>
    {{#each league in model}}
      <tr>
        <td> {{#link-to 'leagues.show' league.id}} {{league.name}} {{/link-to}} </td>
        <td> -1 </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{page-numbers content=content totalPages=20}}
