<form class="form-signin" {{action "login" on="submit"}}>

  {{#if loginFailed}}
    <div class="alert alert-danger">Invalid username or password.</div>
  {{/if}}

  {{#if isSlowConnection}}
    <div class="alert alert-info">The request seems to be taking more time than usual, please wait.</div>
  {{/if}}

  {{input value=email_or_username type="text" class="form-control" placeholder="Username or email"}}
  {{input value=password type="password" class="form-control" placeholder="Password"}}
  <button type="submit" class="btn btn-lg btn-success">Sign in</button>
  <button type="submit" class="btn btn-lg btn-danger">Cancel</button>
</form>







