<h1>Login</h1>

<div class= "col-xs-6">
  <form class="form-horizontal" {{action "login" on="submit"}}>
    
    {{#if loginFailed}}
      <div class="alert alert-danger">Invalid username or password.</div>
    {{/if}}

    {{#if isSlowConnection}}
      <div class="alert alert-info">The request seems to be taking more time than usual, please wait.</div>
    {{/if}}

    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      {{input value=email type="text" class="form-control" placeholder="Type your email!"}}
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      {{input value=password type="password" class="form-control" placeholder="Type your secret password!"}}
    </div>

    <button type="submit" class="btn btn-default" {{action "login" on="submit"}}>Submit</button>
</form>