<table class="table table-ballin table-ballin-count">
  <thead>
    <tr>
      <th colspan="3" class="centered">
        <h2>{{division.name}}</h2>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each team in division.teams}}
      <tr>
        <td></td>
        <td>
          {{#link-to 'fantastic_teams.show' team.id}}
            {{team.name}}
          {{/link-to}}
        </td>
        <td>{{team.score}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>