<div class="inner cover">
	<h1 class="cover-heading">Ballin'</h1>
	<p class="lead">{{t 'headline'}}</p>
  
  {{#link-to 'sessions.new'}}
    <button class="btn btn-lg btn-info">{{t 'actions.signIn'}}</button>
  {{/link-to}}
  
  {{#link-to 'users.sign_up'}}
    <button class="btn btn-lg btn-success">{{t 'actions.signUp'}}</button>
  {{/link-to}}
</div>
