
<div class="btn-group" data-toggle="buttons">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {{#each league in leagues}}
      {{partial "leagues/panel"}}
    {{/each}}
  </div>
</div>