<div class="inner">
  <h3 class="masthead-brand">Ballin'</h3>
  <nav>
    <ul class="nav masthead-nav">
      <li class="active"><a href="#">Home</a></li>
      <li>{{#link-to 'sessions.new'}}Sign in{{/link-to}}</li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</div>
