<div class="inner">
  <h3 class="masthead-brand">{{#link-to 'index'}}Ballin'{{/link-to}}</h3>
  <nav>
    <ul class="nav masthead-nav">
      {{#link-to 'index' tagName='li'}} 
        {{#link-to 'index'}}{{t 'home'}}{{/link-to}}
       {{/link-to}}
       {{#link-to 'sessions.new' tagName='li'}} 
        {{#link-to 'sessions.new'}}{{t 'actions.login'}}{{/link-to}}
       {{/link-to}}
       {{#link-to 'users.sign_up' tagName='li'}}
         {{#link-to 'users.sign_up'}}{{t 'actions.signUp'}}{{/link-to}}
       {{/link-to}}
    </ul>
  </nav>
</div>
