<h1>{{conference.name}}</h1>
<div class="col-lg-12" id="tables-divisions">
  {{#each division in conference.divisions}}
    <div class="col-lg-3">
      {{partial "divisions/table"}}
    </div>
  {{/each}}
</div>